@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 40s linear infinite;
}

.group:hover .animate-scroll-horizontal {
  animation-play-state: paused;
}

