@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
      font-family: geoma, sans-serif;
}

@theme{
    --color-primary: #5044E5;
    --color-primary-dull: #5087D0;
}

